flows/Get_all_call_CCPlus.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>all_call_store</name>
        <label>all call store</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>finaldata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_all_call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_all_client_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>output1</name>
        <label>output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finaldata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Client_output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_all_client_name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>specific_call_store</name>
        <label>specific call store</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>finaldata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_specific_call</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_all_client_name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>With_Call_ID</name>
        <label>With Call ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>get_all_call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>withCallId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>withCallId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>withCallId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No avl</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_specific_call</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get all call CC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get all call - CCPlus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_call</name>
        <label>get all call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>all_call_store</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CallLog__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Client_Preferred_Price_Range__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>AgentID__c</queriedFields>
        <queriedFields>Call_Status__c</queriedFields>
        <queriedFields>CallType__c</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>CallDuration__c</queriedFields>
        <queriedFields>Download_File_Link__c</queriedFields>
        <queriedFields>File_Link__c</queriedFields>
        <queriedFields>Client_Preferred_Location__c</queriedFields>
        <queriedFields>Client_Preferred_Unit_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Need_Escalation__c</queriedFields>
        <queriedFields>Call_Satisfied__c</queriedFields>
        <queriedFields>Call_Put_On_Hold__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_client_name</name>
        <label>get all client name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>output1</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mobile_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_specific_call</name>
        <label>get specific call</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>specific_call_store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>withCallId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CallLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>With_Call_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Client_output</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Client__c</objectType>
    </variables>
    <variables>
        <name>finaldata</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CallLog__c</objectType>
    </variables>
    <variables>
        <name>Output</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CallLog__c</objectType>
    </variables>
    <variables>
        <name>withCallId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
